* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
}

button:hover {
  cursor: pointer;
}

body {
  background-color: #121212;
  color: #eee;
}

a {
  color: #809fff;
}