.regDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1cm;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.regDiv:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.regDiv input[type='text'],
.regDiv input[type='tel'],
.regDiv input[type='date'],
.regDiv input[type='email'],
.regDiv input[type='password'],
.regDiv select {
    width: 100%;
    padding: 10px;
    margin-bottom: 2%;
}

.regDiv input[type='text'],
.regDiv input[type='tel'],
.regDiv input[type='date'],
.regDiv input[type='email'],
.regDiv input[type='password'],
.regDiv select {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.regDiv button {
    padding: 10px 20px;
}

.success {
    padding: 3%;
    background-color: greenyellow;
    color: white;
    border-radius: 1cm;
}

.error {
    padding: 3%;
    background-color: red;
    color: white;
    border-radius: 1cm;
}